<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit sample model to test validation</title>
</head>
<body>
    <h1>Edit sample model to test validation</h1>
    <p>Form was submitted successfully.</p>
    <p>@Html.ActionLink("Try again", "Index")</p>
</body>
</html>
