<html>
<head>
    <title>Altairis Validation Toolkit Sample (MVC)</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Styles/Site.css" asp-append-version="true" />
</head>
<body>
    <h1>Altairis Validation Toolkit Sample (MVC)</h1>
    <ul>
        <li><a asp-action="EditorTemplatesDemo">Editor templates</a></li>
        <li><a asp-action="ValidationDemo">Validation attributes</a></li>
    </ul>
</body>
</html>
