@page
<html>
<head>
    <title>Altairis Validation Toolkit Sample (Razor Pages)</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Styles/Site.css" asp-append-version="true" />
</head>
<body>
    <h1>Altairis Validation Toolkit Sample (Razor Pages)</h1>
    <ul>
        <li><a asp-page="EditorTemplatesDemo">Editor templates</a></li>
        <li><a asp-page="ValidationDemo">Validation attributes</a></li>
    </ul>
</body>
</html>
