html {
    background-color: #030;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding: 1em;
}

body {
    background-color: #fff;
    color: #333;
    margin: 0 auto;
    padding: 1em 2em;
    max-width: 800px;
    border-radius: 20px;
}

* {
    box-sizing: border-box;
}

h1 {
    color: #090;
}

form footer {
    margin-top: 1em;
}

